body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, sans-serif;
  background-color: #ccc;
  margin: 3rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  float: left;
  width: 10rem;
  height: 10rem;
  padding: 0;
  background: #fff;
  border: 4px solid #333;
  margin-right: -3px;
  margin-top: -3px;
  text-align: center;
  font-size: 8rem;
  font-weight: 1000;
  color: teal;
}

.square:focus {
  outline: none;
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 5rem;
  padding-top: 0.5rem;
}

.game-info > div {
  font-size: 2rem;
  font-weight: 666;
  color: teal;
  margin-bottom: 2rem;
}

.game-info ol {
  list-style-type: none;
  padding-left: 0;
}

.game-info button {
  font-size: 1.15rem;
  font-variant-numeric: tabular-nums;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  background: #ddd;
  border: none;
}

.game-info button:hover {
  background: #fff;
}
